<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneRobertKlare"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name="project.reserver.capstone_robertklare.SearchPlayer"
            android:exported="false" />
        <activity
            android:name="project.reserver.capstone_robertklare.EditPlayer"
            android:exported="false"
            android:parentActivityName="project.reserver.capstone_robertklare.TeamDetails" />
        <activity
            android:name="project.reserver.capstone_robertklare.PickupList"
            android:exported="false" />
        <activity
            android:name="project.reserver.capstone_robertklare.ParentDetails"
            android:exported="false"
            android:label="Parent Details"
            android:parentActivityName="project.reserver.capstone_robertklare.MainActivity" />
        <activity
            android:name="project.reserver.capstone_robertklare.PlayerDetails"
            android:exported="false"
            android:label="Player Details"
            android:parentActivityName="project.reserver.capstone_robertklare.MainActivity" />
        <activity
            android:name="project.reserver.capstone_robertklare.AddPlayer"
            android:exported="false"
            android:label="Add Player"
            android:parentActivityName="project.reserver.capstone_robertklare.MainActivity" />
        <activity
            android:name="project.reserver.capstone_robertklare.TeamDetails"
            android:exported="false"
            android:label="Team Details"
            android:parentActivityName="project.reserver.capstone_robertklare.MainActivity" />
        <activity
            android:name="project.reserver.capstone_robertklare.AddTeam"
            android:exported="false"
            android:label="Add Team"
            android:parentActivityName="project.reserver.capstone_robertklare.MainActivity" />
        <activity
            android:name="project.reserver.capstone_robertklare.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>